/*
@media (max-height: 612px) {
  .transformation {
    transform: scale(0.75) translate(0%, -10%);
  }
}
*/
body,
html {
  margin: 0;
  padding: 0;
}

#main {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.bgRemoteBig {
  margin: auto;
  width: 238px;
  height: 612px;
  position: relative;
  background-image: url("../img/bgRemoteBig.png");
}

.btnCircleWithDotRed {
  width: 70px;
  height: 70px;
  background-image: url("../img/btnCircleWithDotRed.png");
}
.btnCircleWithDotRed:active {
  background-position-x: -70px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnCircleRed {
  width: 70px;
  height: 70px;
  background-image: url("../img/btnCircleRed.png");
}
.btnCircleRed:active {
  background-position-x: -70px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnLeftBlack {
  width: 50px;
  height: 54px;
  background-image: url("../img/btnLeftBlack.png");
  background-size: 100px;
}
.btnLeftBlack:active {
  background-position-x: -50px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnRightBlack {
  width: 50px;
  height: 54px;
  background-image: url("../img/btnRightBlack.png");
  background-size: 100px;
}
.btnRightBlack:active {
  background-position-x: -50px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnTopBlack {
  width: 54px;
  height: 50px;
  left: 90px;
  top: 280px;
  background-image: url("../img/btnTopBlack.png");
  background-size: 55px;
}
.btnTopBlack:active {
  background-position-y: -50px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnBottomBlack {
  width: 54px;
  height: 50px;
  left: 90px;
  top: 378px;
  background-image: url("../img/btnBottomBlack.png");
  background-size: 55px;
}
.btnBottomBlack:active {
  background-position-y: -50px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnTopSmallBlack {
  width: 52px;
  height: 38px;
  background-image: url("../img/btnTopSmallBlack.png");
  background-size: 104px;
}
.btnTopSmallBlack:active {
  background-position-x: -52px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.btnBottomSmallBlack {
  width: 52px;
  height: 38px;
  background-image: url("../img/btnBottomSmallBlack.png");
  background-size: 104px;
}
.btnBottomSmallBlack:active {
  background-position-x: -52px;
/*  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

.defaultTextFontKey {
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
/*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
*/
}

.defaultKey {
  cursor: pointer;
  position: absolute;
/*  background-repeat: no-repeat;*/
}

#topBarIcon {
  top: 94px;
  left: 38px;
  width: 155px;
  height: 18px;
  position: absolute;
}

.icon18x18 {
  width: 18px;
  height: 18px;
  position: absolute;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: initial;
}
#sendIcon {
  left: 140px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAArElEQVR4AcXBAUaDcQAH0JeQiElAlKAADAmBEOgISTpA0AVSdYECCQQGwAwopDpBBCIhQMPGtoHxGww+fxvA3jMfLQ8urJspk68OTXWn5V9EvKiZYc+7iG8bSs7tWwCneuLLskLEnxtr2NYRDYU3bRE/NnEkYldhxaWh+LWKhnhWqGNHW9xjS4zUVDRFByeibwmf4lhFV0TdooE4wKO4VXGlqwk+xBmuxZN5GAPX0UGCceRg7AAAAABJRU5ErkJggg==);
  visibility: hidden;
}

#errorIcon {
  left: 122px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAwElEQVR4AZXRtXUDMBQAwOvDjaEMwwBhWiE0RKiy9wiWYc4W3iSoGcKRS71n9qmU9FH7+izbtWVZr5pyHsR0PMiqMOjdp2MDYMCxT++GSfKCYILEhOBVHoAbf+YA+/YBc/5cA/T4dwagpATg1L8eYFU0XfPRlGgDKIi6az7qFhWAoqgTlTXRKSoC61I6gJRuPRV+XjPSWSqcK/9mVD6a8e+qcphjSMYEQZZkyJvKtTwbUiHvsdmCgV7Ldu1a1qtdZTafSCFQvo25AAAAAElFTkSuQmCC);
  visibility: hidden;
}

#wsstatus {
  top: 128px;
  left: 38px;
  width: 155px;
  height: 54px;
  overflow: hidden;
  position: absolute;
  text-align: center;
}

#keyPlusOne {
  top: 296px;
  right: 20px;
}
#keyPlusOneText {
  top: 3px;
  width: 38px;
  height: 38px;
  left: 3px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABuCAYAAADRebYyAAAACXBIWXMAAC4jAAAuIwF4pT92AAABF0lEQVR42u3av03DQBiH4d9FKYAC6BAdFQxBywZUdGySjMAg2YCWIWABVoDuS4+Ewx+TXPDztFbsU17f6XRyAgAAAAAAAAAAAAAAAHuqql5r2M22xzSbcIyLJOe9jWs24Qmy6HFQswnOjKOqekhy3+P45jv6U1ZJbj+5fNhaex/hGS3JcZKTJKdJLpNcJ7lLctbrCzP/x5Nh0euyZMkSBEEEQRBB9ldrbdkGJHkRBEEEQRBB+DO/PsvacFD4E29V9d3fjHIgaYYgiCAIIgiCMKKqWg18C3WwpTE812a+y7JkIQiCCIIgH3dRy6HtU5KrL9zmceAWT4KYIQgiCILQ3Q5o52dZAAAAAAAAAAAAAAAAAAAAAKNbA8Zm4nCnM3Y1AAAAAElFTkSuQmCC);
  background-size: 44px;
}

#keyMinusOne {
  top: 296px;
  left: 20px;
}
#keyMinusOneText {
  top: 16px;
}

#keyPlusTen {
  top: 296px;
  right: 68px;
}
#keyPlusTenText {
  top: 16px;
}

#keyMinusTen {
  top: 296px;
  left: 68px;
}
#keyMinusTenText {
  top: 16px;
}

#keyMute {
  top: 362px;
  left: 28px;
}
#keyMuteText {
  top: 10px;
  width: 20px;
  height: 20px;
  left: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAq0lEQVQoz62QuxHCMBBEn/gYBhIKkIaCqEF9yYVQApWcSyAywRLIso0/JLCR7uZpZ2/hr4oyjeekpKgJZFKPmfKsdSxJAi7pK+aKY5Tyh3GGpA47gCl2rkkfLkUlE2eqknQzvdRjClVDfNKW3W5eiMfasOc6bBagBo+9guME9wHKzxsegOBMHlPYNjzmHtafPa53EQOOuZC0juWGbITNKggOoCa44OqlTD/pDcynlGwXF2U7AAAAAElFTkSuQmCC);
  background-size: 20px;
}

#keyOther {
  top: 362px;
  right: 28px;
}
#keyOtherText {
  top: 16px;
}

#keyStandby {
  top: 470px;
  left: 84px;
}
#keyStandbyText {
  top: 28px;
  font-size: 10px;
}

#keyAuto {
  top: 412px;
  left: 26px;
}
#keyAutoText {
  top: 28px;
  font-size: 10px;
}

#keyWind {
  top: 356px;
  left: 84px;
}
#keyWindText {
  top: 28px;
  font-size: 10px;
}

#keyTrack {
  top: 412px;
  right: 26px;
}
#keyTrackText {
  top: 28px;
  font-size: 10px;
}

#tackLabel {
  top: 250px;
  font-size: 14px;
  z-index: -1;
}

#keyTackPort {
  top: 230px;
  left: 38px;
}
#keyTackPortText {
  top: 16px;
  width: 25px;
  height: 25px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAd0lEQVRIx73WSw6AIAwE0I5H9P53qTsTFYR+ZliXvJTPACw43N3NzABgt/bIANFapCYtunjXgg1sdVIFlkgH8It0AVOkExgi3cAHYQAPhAXcCBMIx0p26JZLtvGyIyy7jLJYkQWkLOplj5bs+a1C0Vg5SbX1r9EF/au4qJQe+D0AAAAASUVORK5CYII=);
  left: 10px;
}

#keyTackStarbord {
  top: 230px;
  right: 38px;
}
#keyTackStarbordText {
  top: 16px;
  width: 25px;
  height: 25px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAg0lEQVRIx81WQQ7AIAwCn+j//+IuW6IeZqmyjDOIqZYW7QYCULg9Sn9AVKQacRaRZNRgxR1M3EbMihUud8RRLndvGeHyRDlW3GN1f+NS6YmsEdXmyxgx0+WqUcEH+Ee57A9v/8L2ZrTHij0g7VFvH1r28es2GLYVAFVIiirlinMVenABXi3An6ky178AAAAASUVORK5CYII=);
  right: 10px;
}
